* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;   
}
 html{
     font-family: Helvetica, Arial, sans-serif;
 }
 .clear{
     clear: both;
 }
 .text-white{
     color: #fff !important;
 }
#main{
    
}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav {
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}

#nav > li{    
    display: inline-block;
}

#nav li{
    position: relative;
}
#nav .subnav{
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
} 
#nav .subnav a{
    color: #000;
    padding: 0 16px;
    line-height: 38px;
} 
#nav .nav-arrow-down{
    font-size: 14px;
}
#nav > li:hover >  a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc; 
} 
#nav li:hover .subnav{
    display: block;
}
#nav > li> a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}
#slider .text-content{
    color: #fff;
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 15px;
}
#content{
    /* height: 1000px; 
    background: #ccc; */
}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px  64px 16px;
}
#content .section-heaeding{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    margin-top: 25px;
}
#content .about-text{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.5;
}

#content .member-item{
    float: left;
    width: 33.33333%;
    text-align: center;
}

#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
#content .members-list{
    margin-top: 48px;
}
#content .tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff ;
    margin-top: 40px;
    list-style: none;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    line-height: 1.5;
    padding: 9px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 8px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-right: 16px;
}
/* Places Ticket*/
.places-list {
    margin: 32px -16px 0 -16px;
    width: 800px;
    padding: 0 8px;
    padding-bottom: 32px;
}
.place-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
    margin-bottom: 16px;
}
.place-img{
    width:100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    font-size: 15px;
    padding: 0.15px 16px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
}
.place-time{
    margin-top: 15px;
    color: #757575;
    line-height: 1.5;
}
.place-desc{
    margin: 15px 0;
}
.place-buy-btn{
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 8px 16px;
    margin-bottom: 16px;
    display: inline-block;
}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}
#footer{

}
